body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgRyBoS-xisf_gx56-WLa_9U1gk-FZCUr50Wm2lPBaCdPc4zfavG2chzf2YF01xZgsh-E&usqp=CAU);
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 25px !important;
}

.btn-info:hover {
    background-color: aqua;
    color: black;
}

canvas {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {
        box-shadow: 1px 1px 38px yellow;
    }

    to {
        box-shadow: 1px 1px 38px blue;
    }

}

.modifyDiv{
    background-color: rgba(172, 255, 47, 0.546);
}

.lbl1{
    font-size: 25px;
}
